# vim: ft=sh

###############################################################################
# Change the variables after liking and move the file to ~/.timrc.            #
#                                                                             #
# Below are the default settings Tim uses when nothing is set in ~/.timrc.    #
# Tim looks for audio in ~/.tim and $PWD/audio_files (Tim's directory).       #
#                                                                             #
# On GNU/Linux Tim uses "aplay -q" instead of "afplay" by default.            #
###############################################################################

#TIMER_CMD="afplay ~/.tim/alarm.wav"
#TIMER_REPEAT_ALARM=0

#INTERVAL=15

#WORK_CMD="afplay ~/.tim/work.wav"
#BREAK_CMD="afplay ~/.tim/break.wav"

#POMODORO_CMD="afplay ~/.tim/alarm.wav"
#POMODORO_REPEAT_ALARM=0

#POMODORO_WORK=25
#POMODORO_BREAK=5
#POMODORO_STOP=4

